<div class="row">
  <div class="col-lg-6">
    <!-- column -->
    <div class="card news-slide" style="background:url(http://www.wrappixel.com/demos/admin-templates/elegant-admin/assets/images/background/img5.jpg) center center / cover;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active carousel-item">
                <div class="carousel-caption">
                  <span class="label label-danger label-rounded">News</span>
                  <h3 class="m-t-5 font-light">Market Stock exchange status</h3>
                  <p class="op-5">It has survived not only five centuries, but also the leap into electronic typesetting</p>
                  <div class="row">
                    <div class="col-lg-4 col-md-4 m-t-10">
                      <h4 class="m-b-0 text-success"><i class="ti-arrow-up"></i>350</h4><span class="text-muted">Reliance</span>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-10">
                      <h4 class="m-b-0 text-danger"><i class="ti-arrow-down"></i>-150</h4><span class="text-muted">Birla</span>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-10">
                        <h4 class="m-b-0 text-success"><i class="ti-arrow-up"></i>650</h4><span class="text-muted">Tata</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <span class="label label-danger label-rounded">Personal</span>
                  <h4 class="m-t-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4>
                  <a href="javascript:void(0)" class="btn btn-success btn-sm btn-rounded">Read More</a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <span class="label label-info label-rounded">Design</span>
                  <h4 class="m-t-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4>
                  <a href="javascript:void(0)" class="btn btn-danger btn-sm btn-rounded">comming...</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="row">
        <!-- column -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success">Product A Revenue</h5>
                    <div class="stats-row m-t-20 m-b-20">
                        <div class="stat-item">
                            <h6>Growth</h6> <b>80.40%</b></div>
                        <div class="stat-item">
                            <h6>Montly</h6> <b>20.40%</b></div>
                        <div class="stat-item">
                            <h6>Daily</h6> <b>5.40%</b></div>
                    </div>
                </div>
                <div id="sales1"></div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Product B Revenue</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-t-20 m-b-20">
                                <h6>Yearly</h6>
                                <b>80.40%</b>
                            </div>
                            <div class="m-t-20 m-b-20">
                                <h6>Montly</h6>
                                <b>5.40%</b>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div id="sales2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- column -->
    </div>
    <!-- column -->
  </div>
  <!-- column -->
  <!-- employee working in more than one project section start -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h5 class="card-title">Employees</h5>
            <h6 class="card-subtitle">Employees working in more than one project.</h6>
          </div>
        </div>
      </div>
      <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>NAME</th>
                <th>PROJECTS</th>
                <th>TECHNOLOGY</th>
              </tr>
            </thead>
            <tbody>
              <% find_employee_more_than_one_project.each do |employee| %>
                <tr>
                  <td><%= employee&.username %></td>
                  <td class="txt-oflo"><% employee&.assignments.each do |assignment| %><%= find_project(assignment) %><br><% end %></td>
                  <td><%= employee&.technology&.name %></td>
                </tr>
              <% end %>  
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
