<div class="row">
  <div class="col-lg-6">
    <!-- column -->
    <div class="card news-slide" style="background:url(http://www.wrappixel.com/demos/admin-templates/elegant-admin/assets/images/background/img5.jpg) center center / cover;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active carousel-item">
                <div class="carousel-caption">
                  <span class="label label-danger label-rounded">News</span>
                  <h3 class="m-t-5 font-light">Market Stock exchange status</h3>
                  <p class="op-5">It has survived not only five centuries, but also the leap into electronic typesetting</p>
                  <div class="row">
                    <div class="col-lg-4 col-md-4 m-t-10">
                      <h4 class="m-b-0 text-success"><i class="ti-arrow-up"></i>350</h4><span class="text-muted">Reliance</span>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-10">
                      <h4 class="m-b-0 text-danger"><i class="ti-arrow-down"></i>-150</h4><span class="text-muted">Birla</span>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-10">
                        <h4 class="m-b-0 text-success"><i class="ti-arrow-up"></i>650</h4><span class="text-muted">Tata</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <span class="label label-danger label-rounded">Personal</span>
                  <h4 class="m-t-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4>
                  <a href="javascript:void(0)" class="btn btn-success btn-sm btn-rounded">Read More</a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <span class="label label-info label-rounded">Design</span>
                  <h4 class="m-t-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4>
                  <a href="javascript:void(0)" class="btn btn-danger btn-sm btn-rounded">comming...</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="row">
        <!-- column -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success">Product A Revenue</h5>
                    <div class="stats-row m-t-20 m-b-20">
                        <div class="stat-item">
                            <h6>Growth</h6> <b>80.40%</b></div>
                        <div class="stat-item">
                            <h6>Montly</h6> <b>20.40%</b></div>
                        <div class="stat-item">
                            <h6>Daily</h6> <b>5.40%</b></div>
                    </div>
                </div>
                <div id="sales1"></div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Product B Revenue</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-t-20 m-b-20">
                                <h6>Yearly</h6>
                                <b>80.40%</b>
                            </div>
                            <div class="m-t-20 m-b-20">
                                <h6>Montly</h6>
                                <b>5.40%</b>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div id="sales2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- column -->
    </div>
    <!-- column -->
  </div>
  <!-- column -->
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
              <div class="d-flex">
                  <div>
                      <h5 class="card-title">Sales Overview</h5>
                      <h6 class="card-subtitle">Check the monthly sales </h6>
                  </div>
                  <div class="ml-auto">
                      <select class="custom-select b-0">
                          <option>January</option>
                          <option value="1">February</option>
                          <option value="2" selected="">March</option>
                          <option value="3">April</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="card-body bg-light">
              <div class="row">
                  <div class="col-6">
                      <h3>March 2017</h3>
                      <h5 class="font-light m-t-0">Report for this month</h5></div>
                  <div class="col-6 align-self-center display-6 text-right">
                      <h2 class="text-success">$3,690</h2></div>
              </div>
          </div>
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th class="text-center">#</th>
                          <th>NAME</th>
                          <th>STATUS</th>
                          <th>DATE</th>
                          <th>PRICE</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="text-center">1</td>
                          <td class="txt-oflo">Elite admin</td>
                          <td><span class="badge badge-success badge-pill">sale</span> </td>
                          <td class="txt-oflo">April 18, 2017</td>
                          <td><span class="text-success">$24</span></td>
                      </tr>
                      <tr>
                          <td class="text-center">2</td>
                          <td class="txt-oflo">Real Homes WP Theme</td>
                          <td><span class="badge badge-info badge-pill">extended</span></td>
                          <td class="txt-oflo">April 19, 2017</td>
                          <td><span class="text-info">$1250</span></td>
                      </tr>
                      <tr>
                          <td class="text-center">3</td>
                          <td class="txt-oflo">Ample Admin</td>
                          <td><span class="badge badge-info badge-pill">extended</span></td>
                          <td class="txt-oflo">April 19, 2017</td>
                          <td><span class="text-info">$1250</span></td>
                      </tr>
                      <tr>
                          <td class="text-center">4</td>
                          <td class="txt-oflo">Medical Pro WP Theme</td>
                          <td><span class="badge badge-danger badge-pill">tax</span></td>
                          <td class="txt-oflo">April 20, 2017</td>
                          <td><span class="text-danger">-$24</span></td>
                      </tr>
                      <tr>
                          <td class="text-center">5</td>
                          <td class="txt-oflo">Hosting press html</td>
                          <td><span class="badge badge-success badge-pill">sale</span></td>
                          <td class="txt-oflo">April 21, 2017</td>
                          <td><span class="text-success">$24</span></td>
                      </tr>
                      <tr>
                          <td class="text-center">6</td>
                          <td class="txt-oflo">Digital Agency PSD</td>
                          <td><span class="badge badge-success badge-pill">sale</span> </td>
                          <td class="txt-oflo">April 23, 2017</td>
                          <td><span class="text-danger">-$14</span></td>
                      </tr>
                      <tr>
                          <td class="text-center">7</td>
                          <td class="txt-oflo">Helping Hands WP Theme</td>
                          <td><span class="badge badge-warning badge-pill">member</span></td>
                          <td class="txt-oflo">April 22, 2017</td>
                          <td><span class="text-success">$64</span></td>
                      </tr>
                      <tr>
                          <td class="text-center">8</td>
                          <td class="txt-oflo">Helping Hands WP Theme</td>
                          <td><span class="badge badge-warning badge-pill">member</span></td>
                          <td class="txt-oflo">April 22, 2017</td>
                          <td><span class="text-success">$64</span></td>
                      </tr>
                      <tr>
                          <td class="text-center">9</td>
                          <td class="txt-oflo">Ample Admin</td>
                          <td><span class="badge badge-info badge-pill">extended</span></td>
                          <td class="txt-oflo">April 19, 2017</td>
                          <td><span class="text-info">$1250</span></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
