<!-- Preloader - style you can find in spinners.css -->
<!-- <div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Elegant admin</p>
    </div>
</div> -->
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<%= javascript_include_tag "chartkick" %>

  <!-- End Bread crumb and right sidebar toggle -->
  <%= render partial: 'indexraw1'%> <!-- Row1 -->
  <%= render partial: 'indexraw2', locals: {project_list: @project_list, top_budget_project: @top_budget_project}%> <!-- Row2 -->
  <%#= render partial: 'indexraw3'%> <!-- Row3 -->

  <!-- Right sidebar -->
  <%#= render partial: 'right_sidebar'%>
  <!-- End Right sidebar -->
