<%= javascript_include_tag "employees"  %>
<h2>New Employee</h2>
<%= form_for @employee do |f| %>
	<%= render "form", f: f %>
<% end %>

<script type="text/javascript">
	$(document).on('ready',function(){
		Employees.form.formValidation();
		//ajax call to check unique email validation
		$("#employee_email").on("change", function(){
			$.ajax({
         url: '/unique_username.js',
         method: 'GET',
         data: {
           email: $(this).val(),
           username: $("#employee_username").val()
         }
       });
		});
		//ajax call to check unique username validation
		$("#employee_username").on("change", function(){
			$.ajax({
         url: '/unique_username.js',
         method: 'GET',
         data: {
           username: $(this).val(),
           email: $("#employee_email").val()
         }
       });
		});
	});
</script>
