<div class="modal-dialog">
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Technical Test Answer</h4>
      </div>
      <div class="modal-body">
         
      </div>
   </div>
</div>
<script type="text/javascript">
   $(".close").click(function(){
      $(".modal").hide();
    });
</script>
