<%= javascript_include_tag "projects"  %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Project</h4>
				<%= form_for @project do |f| %>
					<%= render "form", f: f %>
					<%= f.submit "Update Project", id: "employee_submit", class: "btn btn-success waves-effect waves-light m-r-10" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).on('ready',function(){
		Projects.form.formValidation();
	});
</script>
