.bg-orange {
	background: orange;
}

.avatar-circle {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: rgba(255,255,255,0.15);
  margin: 0px 7px 0px 0;
  font-size: 28px;
  line-height: 44px;
}

.bg-grey{
  background-color: grey;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: grey !important;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px
}

.icon-color-size{
  font-size:20px !important;
  color: black;
}

.breadcrumb-font{
  font-size: 15px;
}
