<%= javascript_include_tag "rails" %>
<div class="row">
	<div class="col-12">
	  <div class="card">
	    <div class="card-body">
				<div class="table-responsive m-t-40">

				  <table id="example23" class="desk-table display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				  	<thead>
					    <tr>
				        <th>Name</th>
				        <th colspan="2">Actions</th>
					    </tr>
						</thead>
						<tbody>
							<% @technologies&.each do |technology| %>
								<tr>
					        <td><%= technology&.name %></td>
					        <td>
					        	<%= link_to edit_technology_path(technology) do %> 
					        		<i class="fa fa-edit icon-color-size" data-toggle="tooltip" data-placement="top" title="Edit"></i>   
					        	<% end %>
					        	<%= link_to technology_path(technology), method: :delete, data: {confirm: 'Are you sure? '} do %> 
					        		<i class="fa fa-trash icon-color-size" data-toggle="tooltip" data-placement="top" title="Delete"></i>
					        	<% end %></td>
					    	</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" style="display:none;">
</div>
