<div class="row">
	<div class="col-12">
	  <div class="card">
	    <div class="card-body">
				<div class="table-responsive m-t-40">

				  <table id="example23" class="desk-table display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				  	<thead>
					    <tr>
				        <th>Name</th>
				        <th colspan="2">Actions</th>
					    </tr>
						</thead>
						<tbody>
							<% @technologies&.each do |technology| %>
								<tr>
					        <td><%= technology&.name %></td>
					        <td><%= link_to "Edit",edit_technology_path(technology), class: "btn btn-primary"%></td>
					        <td><%= link_to "Delete", technology, method: :delete, class: "btn btn-danger", data:{ confirm: 'Are you sure you want to delete this?' } %></td>
					    	</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" style="display:none;">
</div>
